<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd"
                            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                            xmlns:context="http://www.springframework.org/schema/context"
                            xmlns:aop="http://www.springframework.org/schema/aop"
                            xmlns="http://www.springframework.org/schema/beans" >


	<bean id="xml1" class="kr.co.softsoldesk.beans.TestBean"/>
	<bean id="adv" class="kr.co.softsoldesk.advisor.AdvisorClass"/>
	<!-- //AOP문법 -->
	<aop:config>
	<aop:aspect ref="adv">
	<aop:pointcut expression="execution(* method1())" id="point1"/>
	<aop:before method="beforeMethod" pointcut-ref="point1"/>
	<aop:after method="aftermethod" pointcut-ref="point1"/>
	<aop:around method="aroundmethod" pointcut-ref="point1"/>
	<aop:after-returning method="afterReturnmethod" pointcut-ref="point1"/>
	<aop:after-throwing method="afterThrowmethod" pointcut-ref="point1" throwing="e1"/>
	</aop:aspect>
	</aop:config>
	
</beans>